name: Backup Vulnerability-Wiki-PoC

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  backup:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout target repository
      uses: actions/checkout@v2
      with:
        repository: "SourByte05/Vulnerability-Wiki-PoC"
        token: ${{ secrets.GITHUB_TOKEN }}

    - name: Set up git config
      run: |
        git config user.name "github-actions[bot]"
        git config user.email "github-actions[bot]@users.noreply.github.com"

    - name: Push to backup repository
      run: |
        git remote add backup https://github.com/${{ github.repository }}.git
        git push https://github.com/ddliubb/bak.git HEAD:main --force
      env:
        GH_TOKEN: ${{ secrets.GH_TOKEN }}
